<div class="hero-section w-full flex flex-col items-center">
    <div class="flex items-center justify-center">
        <h4 class="text-[16px] text-primary font-semibold mb-2">Notícias</h4>
    </div>
    <div class="title w-[70%] flex items-center justify-center text-center">
        <h1 class="text-[40px] text-[#121212] font-bold">Acompanhe todas as notícias sobre o mercado de construção e arquitectura do mercado angolano</h1>
    </div>
    <div class="w-[85%] flex items-center justify-around gap-2 mt-10">
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Todos os tópicos</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Arquitectura</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Topografia</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Estudos técnicos</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Engenharia</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">Fiscalização</a>
        </div>
        <div class="category">
            <a href="" class="text-[16px] text-white px-4 py-2.5 bg-primary rounded-full">Brochura</a>
        </div>
    </div>
    <div class="searchbar mt-20 flex items-center justify-center gap-x-2">
        <img src="assets/svg/icons/posts/hero/search.svg" alt="">
        <input type="search" placeholder="Pesquisa por qualquer assunto sobre construção e arquitectura" class="outline-none placeholder:text-[#A4A4A4] placeholder:text-[12px] desktop:placeholder:text-[14px] text-[12px] desktop:text-[14px]">
    </div>
</div>
