<div class="about-module-container">
    <div class="about-module-banner-content">
        <about-hero></about-hero>
    </div>

    <div class="about-module-section-content hidden laptop:block mt-10 mb-30 py-10">
        <div class="section-delimited w-[93%] desktop:w-[80%] max-w-[1230px] mx-auto">
            <about-intro></about-intro>
        </div>
    </div>

    <div class="know-more-module-section-content mt-32 mb-40 w-[93%] desktop:w-[80%] max-w-[1230px] mx-auto">
        <about-history></about-history>
    </div>

    <div class="know-more-module-section-content mt-32 mb-32 w-[93%] desktop:w-[80%] max-w-[1230px] mx-auto">
        <about-culture></about-culture>
    </div>
</div>