<div class="w-full about--section flex flex-wrap desktop:flex-nowrap gap-[20px] justify-start items-start">
    <div class="main-title hidden desktop:flex desktop:flex-col desktop:w-[80%]">
        <h1 class="text-[28px] text-[#121212] font-semibold mb-2 w-full desktop:w-[70%] desktop-1440:w-[75%]">
            Projecto de Licenciamento e Projecto de Execução
        </h1>
        <p class="text[16px] text-[#808080] w-full desktop:w-[75%] desktop-1440:w-[80%]">
            D.O – Privado | Moradia T7 , 3 pisos, com área total de construção 
            de 460m2. Arquitectura moderna de alto padrão.
        </p>
    </div>
    <div class="subtitle w-full desktop:flex gap-4 grid grid-cols-2">
        <div class="w-full flex-col justify-between">
            <h1 class="text-[#121212] text-[15px] font-semibold mb-2">Seguimento</h1>
            <h4 class="text-[#808080] text-[14px]">Arquitectura</h4>
        </div>
        <div class="subtitle w-full flex-col justify-between">
            <h1 class="text-[#121212] text-[15px] font-semibold mb-2">Data de Execução</h1>
            <h4 class="text-[#808080] text-[14px]">2018-2023</h4>
        </div>
        <div class="subtitle w-full flex-col justify-between">
            <h1 class="text-[#121212] text-[15px] font-semibold mb-2">Cliente</h1>
            <h4 class="text-[#808080] text-[14px]">EC-Planos LDA</h4>
        </div>
        <div class="subtitle w-full flex-col justify-between">
            <h1 class="text-[#121212] text-[15px] font-semibold mb-2">Equipa</h1>
            <h4 class="text-[#808080] text-[14px]">EC-Planos</h4>
        </div>
    </div>
</div>
