<div class="help-building--section flex flex-col laptop:flex-row laptop:items-start laptop:justify-end gap-y-10 laptop:gap-y-16 ">
    <div class="hidden main-content-description laptop:sticky laptop:top-[120px] desktop:flex desktop:mr-5 laptop:h-full">
        <div class="social-media flex flex-col justify-start items-center gap-3" data-aos="fade-up">
            <div class="facebook">
                <a href="" class="">
                    <img src="assets/svg/icons/footer/facebook.svg" alt="">
                </a>
            </div>
            <div class="instagram">
                <a href="">
                    <img src="assets/svg/icons/footer/instagram.svg" alt="">
                </a>
            </div>
            <div class="linkedin">
                <a href="">
                    <img src="assets/svg/icons/footer/linkedin.svg" alt="">
                </a>
            </div>
            <div class="share">
                <a href="">
                    <img src="assets/svg/icons/footer/share.svg" alt="hi">
                </a>
            </div>
        </div>
    </div>
    <div class="w-full text-blocks-section flex justify-between">
        <div class="w-[70%] px-10">
        <div class="minimal-title mb-5">
            <p class="text-[#808080] text-[18px] mb-5 desktop:mb-10">
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus 
                eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, 
                vitae nisi, tellus tincidunt. At feugiat sapien varius id.<br><br>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. 
                Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac 
                volutpat.                  
            </p>
        </div>   
        <div class="minimal-title px-5 mb-10 border-l-2 border-[#121212]">
            <blockquote class="text-[#121212] text-[24px] italic font-semibold py-5">
                “In a world older and more complete than ours they move finished and complete, gifted with extensions of the senses we have lost or never attained, 
                living by voices we shall never hear.”               
            </blockquote>
        </div>
        <div class="minimal-title mb-5 desktop:mb-5">
            <p class="text-[#808080] text-[18px] mb-5 desktop:mb-10">
                Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi <u>bibendum diam</u>. 
                Tempor integer aliquam in vitae malesuada fringilla.<br><br>
                Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis risus. Sed condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus 
                et erat <u>auctor aliquam</u>. Risus, volutpat vulputate posuere purus sit congue convallis aliquet. Arcu id augue ut feugiat donec porttitor neque. Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc lectus in tellus, pharetra, porttitor.                 
            </p>
        </div> 
        <div class="minimal-title mb-5 desktop:mb-5">
            <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                Software and tools
            </h4>
            <p class="text-[#808080] text-[18px] mb-5 desktop:mb-10">
                Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. 
                Pulvinar ullamcorper sit dictumst ut eget a, elementum eu. Maecenas est morbi mattis id in ac pellentesque 
                ac.               
            </p>
        </div>
        <div class="minimal-title mb-5 desktop:mb-5">
            <p class="text-[#808080] text-[18px] mb-5 desktop:mb-10">
                Lectus leo massa amet posuere. Malesuada mattis non convallis quisque. Libero sit et imperdiet bibendum quisque dictum vestibulum in non. 
                Pretium ultricies tempor non est diam. Enim ut enim amet amet integer cursus. Sit ac commodo pretium sed etiam turpis suspendisse at.<br><br>
                Tristique odio senectus nam posuere ornare leo metus, ultricies. Blandit duis ultricies vulputate morbi feugiat cras placerat elit. Aliquam tellus lorem sed ac. Montes, 
                sed mattis pellentesque suscipit accumsan. Cursus viverra aenean magna risus elementum faucibus molestie pellentesque. Arcu ultricies sed mauris vestibulum.
            </p>
        </div> 
        </div>                
        <div class="w-[30%]">
            <div class="box-card relative h-auto overflow-hidden rounded-[4px] flex items-center w-full border desktop:mb-20 mb-10">
                <a routerLink="/segment-details" href="#">
                <div class="cover-img relative w-full h-full">
                  <div class="skeleton-img-bg"></div>
                  <img src="assets/images/segments/container/10.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                </div>
                <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                <div class="box-content z-[3] absolute bottom-0 left-0 w-full h-full flex flex-col justify-between"> 
                <div class="bottom-content absolute bottom-0">
                    <div class="bottom-card-title p-3 tablet:p-6">
                      <h1 class="text-[23px] text-white leading-[30px] font-semibold">Construção</h1>
                    </div>
                    <div class="bottom-card-description p-3 tablet:p-6 border-t-[1px] border-[#c8c8c866]">
                      <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%]">
                        Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, 
                        colaboradores, parceiros e sociedade em geral.</p>
                    </div>
                  </div>
                </div>
              </a>
              </div>
              

            <div class="posts-container w-fit flex gap-x-3 tablet:gap-x-5 desktop:gap-x-10">
                <div class="post-box relative w-full desktop:w-full">
                    <div class="img overflow-hidden rounded-[4px]">
                        <img src="assets/images/home/posts/img-1.png" alt="">
                    </div>
                    <div class="middle-details my-5 flex justify-between items-center">
                        <div class="data">
                            <p class="text-[#808080] text-[14px]">
                                13/06/2023
                            </p>
                        </div>
                        <div class="read_time">
                            <p class="text-[#808080] text-[14px]">
                                2 minutos de leitura
                            </p>
                        </div>
                    </div>
                    <div class="description">
                        <div class="main-title">
                            <h1 class="text-[24px] font-semibold leading-[24px] mb-5">
                                A mulher a ciência.
                                <!-- A mulher a ciência Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
                            </h1>
                        </div>
                        <div class="main-description mb-5">
                            <p class="text-[#808080] text-[16px]">
                                Primamos pela honestidade trazendo para os nossos clientes produtos resultantes legais.
                            </p>
                        </div>
                    </div>
                    <div class="read-more">
                        <a routerLink="/posts" href="javacript:void(0)" class="w-full bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                            Continuar leitura
                            <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<div class="section-description mt-8 desktop:w-[80%] desktop-1440:w-[80%] mt-3 laptop:hidden">
    <a href="javacript:void(0)" class="w-full tablet:w-[32%] desktop:w-[70%] tablet-768:w-[50%] bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
        Ver todos os seguimentos
        <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
      </a>
</div>