.main-title h1, .component-title h1, .bottom-card-title h1{
    font-family: 'Fist';
}
.box-card .overlay{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 35.94%, rgba(0, 0, 0, 0.90) 100%), transparent 50%;
}
.box-card .cover-img img{
    transition: .6s;
}
.box-card:hover .cover-img img{
    transform: scale(1.1);
}
