<div class="about-module-container">
    <div data-aos="fade-up" class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <post-details-breadcrumb></post-details-breadcrumb>
    </div>
    <div data-aos="fade-up" class="w-full mb-10">
        <div class="posts-hero-section flex justify-center gap-y-24 desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
            <post-details-hero></post-details-hero>
        </div>
    </div>
    <div data-aos="fade-up" class="py-10 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <post-details-content></post-details-content>
    </div>
    <div data-aos="fade-up" class="posts-module-section-content mt-10 mb-20 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <related-news-slider></related-news-slider>
    </div>
    <div data-aos="fade-up" class="w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="w-full flex justify-center gap-1 mb-20"> 
        <a routerLink="/posts" href="javacript:void(0)" class="text-sm text-primary font-semibold flex gap-2  desktop:gap-3 justify-center items-center">
            <img src="assets/svg/icons/post-details/back-arrow.svg" alt="">
            Voltar as aublicações
        </a>
        </div>
    </div>

</div>