<div class="know-more--section flex flex-col desktop:flex-row-reverse desktop:items-start desktop:justify-end gap-y-16 desktop:gap-x-24">
    <div class="main-content-description desktop:w-[40%] desktop:h-full bg-red-30">
        <div class="tiny-title flex gap-3 justify-start items-center">
            <span class="w-[34px] h-[34px] border-[1px] border-[#121212] text-[16px] font-semibold rounded-[50%] flex items-center justify-center">
                1
            </span>
            <h3 class="text-[#121212] text-[16px]">
                Qualidade
            </h3>
        </div>
        <div class="main-title my-5">
            <h1 class="text-[33px] text-[#000] font-semibold leading-[42px] tablet:w-[70%] desktop:w-full desktop-1440:w-[85%] desktop-1536:w-[80%]">
                Asseguramos o cumprimento da norma da qualidade, ambiente e segurança.
            </h1>
        </div>
        <div class="minimal-title mb-5 desktop:mb-5">
            <h4 class="text-[16px] text-[#121212]">
                Temos como princípio a “qualidade”
            </h4>
        </div>
        <div class="section-description desktop:w-full desktop-1440:w-[80%]">
            <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
            </p>
            <p class="text-[#808080] text-[16px]">
                Para nós a segurança no uso e desempenho das nossas soluções é primordial, e nosso objetivo como prestador de serviço é oferecer ao mercado produtos que não só satisfazem necessidades humanas, mas que sobretudo cumprem exigências funcionais, usem tecnologias atualizadas, e tenham verificadas aplicação de alto desempenho.
            </p>
        </div>
        <div class="button know-more mt-10 desktop:mt-20 tablet:w-[55%] laptop:w-[40%] desktop:w-[80%] desktop-1440:mt-12 desktop-1536:mt-20">
            <a href="javacript:void(0)" class="w-full text-white flex gap-3 justify-center items-center bg-primary p-[16px] rounded-[4px]">
                Conhecer mais sobre a EC-Planos
                <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
            </a>
        </div>
    </div>
    <div class="main-image-section w-full desktop:w-[506px] h-[420px] desktop:h-[706px]">
        <div class="img-container relative w-full h-full rounded-[4px] overflow-hidden">
            <div class="skeleton-img-bg"></div>
            <img ngSrc="assets/images/home/know-more/know-more-image.png" width="784" height="706" class="w-full h-full object-cover" alt="">
        </div>
    </div>
</div>