<div class="about-module-container ">
    <div class="about-module-banner-content">
        <segments-hero></segments-hero>
    </div>
    <div data-aos="fade-up" class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <segments-breadcrumb></segments-breadcrumb>
    </div>
    <div data-aos="fade-up" class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="specialities-section-component w-full">
            <segments-container></segments-container>
        </div>
    </div>
</div>