<div class="services-section flex flex-col tablet-768:flex-row gap-y-10 desktop:justify-between desktop:items-start">
    <div class="main-title w-full">
        <h1 class="text-[24px] text-center tablet-768:text-left">
            Serviços
        </h1>
    </div>
    <div class="services-content w-full desktop:w-[90%]">
        <div class="article-title">
            <h1 class="text-[32px] tablet:text-[32px] text-black leading-[40px]">
                Desenhamos progresso, economia e desenvolvimento.
            </h1>
        </div>
        <div class="services-container"></div>
    </div>
</div>