<div class="hero-section w-full flex flex-col items-center">
    <div class="flex items-center justify-center">
        <h4 class="text-[16px] text-primary font-semibold mb-2">Engenharia</h4>
    </div>
    <div class="title w-full desktop:w-[70%] flex items-center justify-center text-center">
        <h1 class="text-[32px] desktop:text-[40px] text-[#121212] font-bold">A mulher e a ciência como meio de sustento para o mercado angolano</h1>
    </div>
    <div class="w-full desktop:w-[70%] flex flex-col desktop:flex-row items-center justify-around mt-10 gap-y-10">
        <div class="flex items-center justify-around gap-2">
            <div class="category">
                <a href="" class="desktop:text-[16px] text-[14px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">13/06/2023</a>
            </div>
            <div class="category">
                <a href="" class="desktop:text-[16px] text-[14px] text-primary px-4 py-2.5 bg-primary/[.05] rounded-full">2 minutos de leitura</a>
            </div>
        </div>
        <div class="social-media flex justify-start items-center gap-3">
            <div class="facebook">
                <a href="" class="">
                    <img src="assets/svg/icons/footer/facebook.svg" alt="">
                </a>
            </div>
            <div class="instagram">
                <a href="">
                    <img src="assets/svg/icons/footer/instagram.svg" alt="">
                </a>
            </div>
            <div class="linkedin">
                <a href="">
                    <img src="assets/svg/icons/footer/linkedin.svg" alt="">
                </a>
            </div>
            <div class="share">
                <a href="">
                    <img src="assets/svg/icons/footer/share.svg" alt="hi">
                </a>
            </div>
        </div>
    </div>

    <div class="searchbar mt-10 flex items-center justify-center gap-x-2 h-[320px] desktop:h-auto">
        <img src="assets/images/post-details/hero/hero.png" alt="" class="h-full object-cover">     
    </div>
</div>
