<div class="pt-10 w-[95%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
<div class="segments-section flex flex-col desktop:flex-row desktop:items-start desktop:justify-end gap-y-16 ">
    <div class="main-content-description desktop:w-[50%] desktop:h-full">
        <div class="tiny-title flex gap-3 justify-start items-center">
            <span class="text-[16px] font-semibold text-[#121212]">
                Sitema de Gestão Integrado
            </span>
        </div>
        <div class="main-title my-5">
            <h1 class=" text-[33px] text-[#121212] font-semibold mb-5 leading-[42px] tablet:w-[70%] desktop:w-[80%] desktop-1440:w-[85%] desktop-1536:w-[80%]">
                Para melhor desempenho e sustentabilidade do nosso negócio
            </h1>
        </div>
        <div class="section-description mt-8 desktop:w-full desktop-1440:w-[80%]">
            <a href="javacript:void(0)" class="tablet-768:w-[50%] w-[100%] tablet-[32%] desktop-[50%] bg-primary py-4 px-2 rounded text-white flex gap-3 justify-center items-center">
                Ver todos os seguimentos
                <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
              </a>
        </div>
    </div>
    <div class="text-blocks-section flex flex-col justify-around w-full desktop:w-[60%] desktop:flex-row">
        <div class="w-full desktop-[50%] h-full">
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-4 pt-0">
                    Gestão de Informação
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Atendemos com a demanda da actualidade cruzando um conjunto 
                    de procedimentos internos e a nossa relação com clientes, parceiros, 
                    legislação e autoridade pública.    
                </p>
            </div>   
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Sustentabilidade
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Utilizamos das mais modernas ferramentas de verificação de processos, 
                    ferramentas de organização e métodos que garantem melhorias e crescimento.    
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Práticas
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    A satisfação dos nossos clientes, hoje, constitui um desafio que move 
                    internamente todas as áreas da empresa.   
                </p>
            </div> 
        </div>
        <div class="img-container w-full desktop-[50%] h-full">
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Comunicar Soluções
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Trabalhamos para melhor comunicar as nossas soluções, sempre 
                    focados na necessidade de um crescimento, excelência e competência 
                    exigidos a nível internacional.   
                </p>
            </div>   
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Área de SGI
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    A nossa área de SGI trata as não conformidades promovendo auditorias 
                    internas fazendo análise crítica a partir da autoliderança baseada na melhoria 
                    contínua.     
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[85%]">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Fiscalização
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Integramos política na forma 
                    como percebemos a gestão, a sustentabilidade, a cultura da qualidade, 
                    a cultura da segurança ambiental, a cultura da excelência, a gestão financeira 
                    e suprimentos.  
                </p>
            </div>    
        </div>
        
    </div>
</div>
</div>