<div class="py-10 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
    <div class="help-building--section flex flex-col laptop:flex-row laptop:items-start laptop:justify-end gap-y-10 laptop:gap-y-16 ">
        <div class="w-full main-content-description laptop:sticky laptop:top-[120px] desktop:w-[85%] laptop:h-full">
            <div class="tiny-title flex gap-3 justify-start items-center">
                <span class="text-[16px] font-semibold text-[#121212]">
                    Sitema de Gestão Integrado
                </span>
            </div>
            <div class="main-title my-5 desktop:w-[85%] desktop-1440:w-[90%]">
                <h1 class=" text-[33px] text-[#121212] font-semibold mb-5 leading-[42px] tablet:w-[70%] desktop:w-[90%] desktop-1440:w-[90%] desktop-1536:w-[80%]">
                    Para melhor desempenho e sustentabilidade do nosso negócio
                </h1>
            </div>
            <div data-aos="fade-up" class="section-description hidden mt-8 desktop:flex desktop:w-[80%] desktop-1440:w-[80%]">
                <a routerLink="/segments" href="javacript:void(0)" class="w-full tablet:w-[32%] desktop:w-[70%] tablet-768:w-[50%] bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                    Ver todos os seguimentos
                    <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                  </a>
            </div>
        </div>
        <div class="w-full text-blocks-section flex flex-wrap justify-between">
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-4 pt-0">
                    Gestão de Informação
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Atendemos com a demanda da actualidade cruzando um conjunto 
                    de procedimentos internos e a nossa relação com clientes, parceiros, 
                    legislação e autoridade pública.                  
                </p>
            </div>   
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Comunicar Soluções
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Trabalhamos para melhor comunicar as nossas soluções, sempre 
                    focados na necessidade de um crescimento, excelência e competência 
                    exigidos a nível internacional.                 
                </p>
            </div>
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Sustentabilidade
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Utilizamos das mais modernas ferramentas de verificação de processos, 
                    ferramentas de organização e métodos que garantem melhorias e crescimento.                 
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Área de SGI
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    A nossa área de SGI trata as não conformidades promovendo auditorias 
                    internas fazendo análise crítica a partir da autoliderança baseada na melhoria 
                    contínua.                 
                </p>
            </div>
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Práticas
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    A satisfação dos nossos clientes, hoje, constitui um desafio que move 
                    internamente todas as áreas da empresa.                
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[43%] desktop-1440:w-[46%]" data-aos="fade-up">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Fiscalização
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Integramos política na forma 
                    como percebemos a gestão, a sustentabilidade, a cultura da qualidade, 
                    a cultura da segurança ambiental, a cultura da excelência, a gestão financeira 
                    e suprimentos.                 
                </p>
            </div>
        </div>
    </div>
    <div class="section-description desktop:w-[80%] desktop-1440:w-[80%] mt-3 laptop:hidden" data-aos="fade-up">
        <a routerLink="/segments" href="javacript:void(0)" class="w-full tablet:w-[32%] desktop:w-[70%] tablet-768:w-[50%] bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
            Ver todos os seguimentos
            <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
          </a>
    </div>
</div>