<div class="segments-module-container">
    <div data-aos="fade-up" class="segments-module-hero-content">
        <segment-details-hero></segment-details-hero>
    </div>
    <div data-aos="fade-up" class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <segment-details-breadcrumb></segment-details-breadcrumb>
    </div>
     <div data-aos="fade-up" class="desktop:mt-20 desktop:mb-40 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <segment-details-intro></segment-details-intro>
    </div>
   <div data-aos="fade-up" class="w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto"> 
        <div class="my-16">
            <div class="tiny-title w-full desktop:mb-20 mb-10 flex items-center justify-center">
                <h1 class="text-[#121212] desktop:text-[24px] text-[18px]">Especialidades relacionadas</h1>
            </div>

            <div class="component-slider overflow-x-auto">
                <div class="slider-boxes bg-red-30 w-fit gap-x-2 desktop:w-full flex justify-between items-center">
        
                    <div class="box-card relative w-[324px] tablet:w-[364px] h-[525px] tablet:h-[600px] overflow-hidden  rounded-[4px]">
                        <div class="cover-img relative w-full h-full">
                            <div class="skeleton-img-bg"></div>
                            <img ngSrc="assets/images/segment-details/container/1.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                        </div>
                        <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                        <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                            <div class="top-content p-6">
                                <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                    <p class="text-[12px] font-semibold text-white">
                                        1
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="bottom-card-title p-3 tablet:p-6">
                                    <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                        Hidráulica
                                    </h1>
                                </div>
                                <div class="bottom-card-description p-3 tablet:p-6 border-t-[1px] border-[#c8c8c866]">
                                    <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%]">
                                        Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-card relative w-[324px] tablet:w-[364px] h-[525px] tablet:h-[600px] overflow-hidden  rounded-[4px]">
                        <div class="cover-img relative w-full h-full">
                            <div class="skeleton-img-bg"></div>
                            <img ngSrc="assets/images/segment-details/container/2.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                        </div>
                        <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                        <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                            <div class="top-content p-6">
                                <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                    <p class="text-[12px] font-semibold text-white">
                                        2
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="bottom-card-title p-3 tablet:p-6">
                                    <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                        Electricidade
                                    </h1>
                                </div>
                                <div class="bottom-card-description p-3 tablet:p-6 border-t-[1px] border-[#c8c8c866]">
                                    <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%]">
                                        Seja uma casa, um sistema informatizado, um estudo/pesquisa, um trabalho de conclusão de curso.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-card relative w-[324px] tablet:w-[364px] h-[525px] tablet:h-[600px] overflow-hidden  rounded-[4px]">
                        <div class="cover-img relative w-full h-full">
                            <div class="skeleton-img-bg"></div>
                            <img ngSrc="assets/images/segment-details/container/3.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                        </div>
                        <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                        <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                            <div class="top-content p-6">
                                <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                    <p class="text-[12px] font-semibold text-white">
                                        3
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="bottom-card-title p-3 tablet:p-6">
                                    <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                        Arquitectura
                                    </h1>
                                </div>
                                <div class="bottom-card-description p-3 tablet:p-6 border-t-[1px] border-[#c8c8c866]">
                                    <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%]">
                                        É o conjunto de serviços fundamentais para o desenvolvimento socieconômico de uma região tais como saneamento.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
            
            <!--
            <div class="gap-y-8 flex flex-wrap justify-between">
                <div *ngFor="let card of cards; let i = index" class="cards-container w-full desktop:w-auto">
                    <segment-card
                    [index]="i+1" 
                    [imageSrc]="card.imageSrc + (i+1) +'.png'"
                    [title]="card.title"
                    [description]="card.description"
                    ></segment-card>
                </div>
            </div> 
            -->
        </div>
    </div>
    <div data-aos="fade-up" class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="w-full flex justify-start gap-1 mt-10"> 
            <a routerLink="/segments" href="javacript:void(0)" class="text-sm text-[#121212] font-semibold flex gap-2  desktop:gap-3 justify-center items-center">
                <img src="assets/svg/icons/segments/container/back-arrow.svg" alt="">
                Voltar
            </a>
        </div>
    </div>
</div>