<div class="segments-module-container">
    <div class="segments-module-hero-content">
        <segment-details-hero></segment-details-hero>
    </div>
    <div class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <segment-details-breadcrumb></segment-details-breadcrumb>
    </div>
     <div class="mt-20 mb-40 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <segment-details-intro></segment-details-intro>
    </div>
   <div class="w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto"> 
        <div class="my-16">
            <div class="tiny-title w-full mb-20 flex items-center justify-center">
                <h1 class="text-[#121212] text-[24px]">Especialidades relacionadas</h1>
            </div>
            <div class="gap-y-8 flex flex-wrap justify-between">
                <div *ngFor="let card of cards; let i = index" class="cards-container w-full desktop:w-auto">
                    <segment-card
                    [index]="i+1" 
                    [imageSrc]="card.imageSrc + (i+1) +'.png'"
                    [title]="card.title"
                    [description]="card.description"
                    ></segment-card>
                </div>
            </div>
        </div>
    </div>
    <div class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="w-full flex justify-start gap-1 mt-10"> 
            <a routerLink="/segments" href="javacript:void(0)" class="text-sm text-[#121212] font-semibold flex gap-2  desktop:gap-3 justify-center items-center">
                <img src="assets/svg/icons/segments/container/back-arrow.svg" alt="">
                Voltar
            </a>
        </div>
    </div>
</div>