<div class="posts--section w-full overflow-x-auto overflow-y-hidden">
    <div class="posts-container w-fit flex gap-x-3 tablet:gap-x-5 desktop:gap-x-10">
        <div class="post-box relative w-[350px] desktop:w-[370px]">
            <div class="img overflow-hidden rounded-[4px]">
                <img src="assets/images/home/posts/img-1.png" alt="">
            </div>
            <div class="middle-details my-5 flex justify-between items-center">
                <div class="data">
                    <p class="text-[#808080] text-[14px]">
                        13/06/2023
                    </p>
                </div>
                <div class="read_time">
                    <p class="text-[#808080] text-[14px]">
                        2 minutos de leitura
                    </p>
                </div>
            </div>
            <div class="description">
                <div class="main-title">
                    <h1 class="text-[24px] font-semibold leading-[24px] mb-5">
                        A mulher a ciência.
                        <!-- A mulher a ciência Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
                    </h1>
                </div>
                <div class="main-description mb-5">
                    <p class="text-[#808080] text-[16px]">
                        Primamos pela honestidade trazendo para os nossos clientes produtos resultantes legais.
                    </p>
                </div>
            </div>
            <div class="read-more">
                <a href="javacript:void(0)" class="w-full bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                    Continuar leitura
                    <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="post-box relative w-[350px] desktop:w-[370px]">
            <div class="img overflow-hidden rounded-[4px]">
                <img src="assets/images/home/posts/img-2.png" alt="">
            </div>
            <div class="middle-details my-5 flex justify-between items-center">
                <div class="data">
                    <p class="text-[#808080] text-[14px]">
                        13/06/2023
                    </p>
                </div>
                <div class="read_time">
                    <p class="text-[#808080] text-[14px]">
                        2 minutos de leitura
                    </p>
                </div>
            </div>
            <div class="description">
                <div class="main-title">
                    <h1 class="text-[24px] font-semibold leading-[24px] mb-5">
                        Semana mundial do espaço
                    </h1>
                </div>
                <div class="main-description mb-5">
                    <p class="text-[#808080] text-[16px]">
                        Primamos pela honestidade trazendo para os nossos clientes produtos resultantes legais.
                    </p>
                </div>
            </div>
            <div class="read-more">
                <a href="javacript:void(0)" class="w-full bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                    Continuar leitura
                    <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="post-box relative w-[350px] desktop:w-[370px]">
            <div class="img overflow-hidden rounded-[4px]">
                <img src="assets/images/home/posts/img-3.png" alt="">
            </div>
            <div class="middle-details my-5 flex justify-between items-center">
                <div class="data">
                    <p class="text-[#808080] text-[14px]">
                        13/06/2023
                    </p>
                </div>
                <div class="read_time">
                    <p class="text-[#808080] text-[14px]">
                        2 minutos de leitura
                    </p>
                </div>
            </div>
            <div class="description">
                <div class="main-title">
                    <h1 class="text-[24px] font-semibold leading-[24px] mb-5">
                        Soluções tecnológicas
                    </h1>
                </div>
                <div class="main-description mb-5">
                    <p class="text-[#808080] text-[16px]">
                        Primamos pela honestidade trazendo para os nossos clientes produtos resultantes legais.
                    </p>
                </div>
            </div>
            <div class="read-more">
                <a href="javacript:void(0)" class="w-full bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                    Continuar leitura
                    <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="slider-controls mt-10 w-full hidden desktop:flex justify-between items-center">
    <div class="counter-progress flex gap-x-8 items-center">
        <div class="counter-desc">
            <span class="super-number text-[24px] text-normal-text-color font-semibold">
                20
            </span>
            <span class="tiny-number text-[16px] text-[#A1A1A1] font-semibold">
                /01
            </span>
        </div>
        <div class="progress hidden laptop:block">
            <div class="progress-path relative w-[230px] bg-[#F1F1F1] h-[4px]">
                <div class="progress-active-path absolute left-0 top-0 w-[20%] h-full bg-primary"></div>
            </div>
        </div>
    </div>
    <div class="slide-controls hidden laptop:block">
        <div class="desktop-slider-arrows hidden desktop:flex justify-end gap-[25px] desktop:mt-5 desktop-1440:mt-7">
            <div class="button flex items-center justify-center up">
                <a href="javascript:void(0)" class="inactive p-[10px] tablet:p-[10px]">
                    <img src="assets/svg/icons/projects/prev.svg" alt="">
                </a>
            </div>
            <div class="button hidden desktop:flex items-center justify-center down">
                <a href="javascript:void(0)" class="active p-[10px] tablet:p-[10px]">
                    <img src="assets/svg/icons/projects/next.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bottom-content-slider-dots desktop:hidden mt-10 flex gap-2 justify-center items-center">
    <div class="dot active w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
    <div class="dot w-[8px] h-[8px]"></div>
</div>