header{
    border-bottom: 1px solid #F5F5F5;
}
.other-links .title h1,
.location .title h1,
.contact .title h1{
    font-family: 'Fist';
}
.list ul li{
    margin: 7px 0px;
}
.list ul li a{
    color: #A4A4A4;
    font-size: 14px;
}

/* .footer-extended{
    background: url('../assets/svg/icons/footer/background.svg') no-repeat 0px 0px;
    background-size: cover;
} */