<header class="bg-white z-[10] w-full fixed top-0 left-0 h-[64px] desktop:h-[74px]">
    <div class="header-contain w-[93%] desktop:w-[80%] max-w-[1230px] h-full mx-auto flex items-center justify-between">
        <div class="logo">
            <img src="assets/svg/logo/logo.svg" alt="">
        </div>
        <div class="menu-icon">
            <a href="javascript:void(0)" class="flex items-center justify-center gap-2">
                <div class="text">
                    <p class="text-[12px] text-[#666]">Menu</p>
                </div>
                <div class="icon">
                    <img src="assets/svg/icons/menu/menu-bars.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</header>

<div class="section-content mt-[85px] desktop:mt-[130px] desktop-1440:mt-[150px] mb-[40px]">
    <router-outlet></router-outlet>
</div>

<footer class="bg-[#121212]">
    <div class="footer-content w-[93%] desktop:w-[80%] max-w-[1230px] mx-auto">
        <p class="text-white">
            Footer
        </p>
    </div>
</footer>