header{
    border-bottom: 1px solid #F5F5F5;
}
.other-links .title h1,
.location .title h1,
.contact .title h1{
    font-family: 'Fist';
}
.list ul li{
    margin: 7px 0px;
}
.list ul li a{
    color: #A4A4A4;
    font-size: 14px;
}

/* .footer-extended{
    background: url('../assets/svg/icons/footer/background.svg') no-repeat 0px 0px;
    background-size: cover;
} */



.top-nav {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #121212;
    height: 50px;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .menu-container > div ul li {

    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fist';

  }
  
  .menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #121212;
    position: absolute;
    height: 2px;
    width: 25px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para WebKit */
    -moz-transition: -moz-transform 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Mozilla */
    -ms-transition: -ms-transform 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Microsoft */
    -o-transition: -o-transform 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Opera */
    border-radius: 1px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -7px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 7px;
  }


  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Prefixo para WebKit */
    -moz-transform: rotate(45deg); /* Prefixo para Mozilla */
    -ms-transform: rotate(45deg); /* Prefixo para Microsoft */
    -o-transform: rotate(45deg); /* Prefixo para Opera */
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); /* Prefixo para WebKit */
    -moz-transform: rotate(-45deg); /* Prefixo para Mozilla */
    -ms-transform: rotate(-45deg); /* Prefixo para Microsoft */
    -o-transform: rotate(-45deg); /* Prefixo para Opera */
  }
  
    .menu-button-container {
      display: flex;
    }
    
    .menu-container {
      position: absolute;
      top: 0px;
      margin-top: 64px;
      left: 0;
      width: 100%;

      background-color: #fff;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-out;
      -webkit-transition: max-height 0.5s ease-out; /* Prefixo para WebKit */
      -moz-transition: max-height 0.5s ease-out; /* Prefixo para Mozilla */
      -ms-transition: max-height 0.5s ease-out; /* Prefixo para Microsoft */
      -o-transition: max-height 0.5s ease-out; /* Prefixo para Opera */


    }

    #menu-toggle:checked ~ .menu-container {
        display: flex;
        height: 100vh;
    }
    #menu-toggle ~ .menu-container div ul li {
      margin-top: 30px;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para WebKit */
      -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Mozilla */
      -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Microsoft */
      -o-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Opera */
      
    }
    #menu-toggle:checked ~ .menu-container div ul {
         height: 100vh;
    }
    #menu-toggle:checked ~ .menu-container div ul li {
     
      padding: 0.5em;
      
      margin-top: 20px;
      transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para WebKit */
      -moz-transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Mozilla */
      -ms-transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Microsoft */
      -o-transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1); /* Prefixo para Opera */
    }
    .menu-container > div ul li {
      display: flex;
      justify-content: center;
      padding: 0.5em 0;
      width: 100%;
    }
    
    .menu-visible {
        max-height: 100vh; /* Altura máxima desejada para o menu */  
    }

.menu-container div ul a img{
    transform: rotate(-90deg);
}

.menu-container div ul .l2 a img{
  transform: rotate(360deg);
}

.menu-container div ul .l2-invisible a img{
  transform: rotate(360deg);
}



.l2 {
  display: none;
  position: absolute;
}

.menu-container div .container ul .l2 {
  transform: translate(150%);
  -webkit-transform: translate(150%); /* Prefixo para WebKit */
  -moz-transform: translate(150%); /* Prefixo para Mozilla */
  -ms-transform: translate(150%); /* Prefixo para Microsoft */
  -o-transform: translate(150%); /* Prefixo para Opera */
  animation: swipeLeft 0.6s ease-in-out forwards;
  -webkit-animation: swipeLeft 0.6s ease-in-out forwards;
  -moz-animation: swipeLeft 0.6s ease-in-out forwards;
  -o-animation: swipeLeft 0.6s ease-in-out forwards;
}


.l2-visible {
  display: flex;
}


.l2-invisible {
  display: flex;
  position: absolute;
  animation: swipeBack 0.6s ease-in-out forwards;
  -webkit-animation: swipeBack 0.6s ease-in-out forwards;
  -moz-animation: swipeBack 0.6s ease-in-out forwards;
  -o-animation: swipeBack 0.6s ease-in-out forwards;
}

@keyframes swipeLeft {
  100% {
    transform: translate(0);
  }
}

@keyframes swipeBack {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(150%);
  }
}

