<header class="bg-white z-[10] w-full fixed top-0 left-0 h-[64px] desktop:h-[74px]">
    <div class="header-contain w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] h-full mx-auto flex items-center justify-between">
        <div class="logo">
            <a (click)="closeMenu()" routerLink="/home">
                <img src="assets/svg/logo/logo.svg" alt="">
            </a>
        </div>

        <section class="top-nav gap-1.5 flex justify-end items-center">
            <p class="text-[12px] text-[#666]">Menu</p>
            <input id="menu-toggle" type="checkbox" (click)="toggleMenu()"/>
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <button *ngIf="isPostsOrPostDetails()" class="desktop:hidden flex items-center justify-center ml-5">
                <img src="assets/svg/icons/posts/hero/search.svg" alt="">
            </button>

            <div class="menu-container"
             [ngClass]="{ 'menu-visible': isMenuVisible }">
            <div class="flex flex-row w-full desktop-1440:w-[82.5%] max-w-[1230px] h-full mx-auto">
            
            <div class="slider hidden desktop:flex w-[30%] h-full">
                <div class="slide-container flex overflow-hidden w-full">
                        <ng-container *ngFor="let image of images; let i = index">
                        <div *ngIf="i === currentSlide" class="slide active w-full h-full opacity-0 transition-opacity">
                            <img [src]="image" alt="" class="w-full h-full object-cover object-right-bottom">
                        </div>
                        </ng-container>      
                </div>
                <div class="slider-overlay z-[4] absolute top-0 h-full bg-primary"></div>
            </div>
            
            <div class="desktop-menu w-[70%] pt-8 hidden desktop:flex justify-around border-r border-gray-100">
                <li>
                <div class="flex-1 flex-col justify-start items-center pb-8">
                    <a class="w-full flex flex-row items-center gap-1" href="#">EC-Planos
                    <img class=""  src="assets/svg/icons/about/see-more-arrow-down.svg" alt="" width="16" height="16"/>  
                    </a>
                    <div class="dropdown hidden">
                        <a (click)="closeMenu()"  routerLink="/about" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Sobre nós</a>
                        <a (click)="closeMenu()" routerLink="/segments" href="" class="w-full flex items-center justify-between pl-0 p-2  text-[14px] text-[#A4A4A4]">História</a>
                        <a (click)="closeMenu()" routerLink="/specialities" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Cultura</a>
                        <a (click)="closeMenu()" routerLink="/home" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Qualidade</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Clientes e Parceiros</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Carreira</a>
                    </div>
                </div>
               </li>
               <li>
                <div class="flex-1 flex-col justify-start items-center pb-8">
                    <a class="flex flex-row items-center gap-1" href="#">Seguimentos
                    <img class=""  src="assets/svg/icons/about/see-more-arrow-down.svg" alt="" width="16" height="16"/>  
                    </a>
                    <div class="dropdown hidden">
                        <a (click)="closeMenu()"  routerLink="/about" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Edifícios</a>
                        <a (click)="closeMenu()" routerLink="/segments" href="" class="w-full flex items-center justify-between pl-0 p-2  text-[14px] text-[#A4A4A4]">Urbanismo & Infraestruturas</a>
                        <a (click)="closeMenu()" routerLink="/specialities" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Ambiente</a>
                        <a (click)="closeMenu()" routerLink="/home" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Água</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Energias</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Petróleo e Gás</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Transporte</a>
                    </div>
                </div>
               </li>
               <li>
                <div class="flex-1 flex-col justify-start items-center pb-8">
                    <a class="flex flex-row items-center gap-1" href="#">Especialidades
                    <img class=""  src="assets/svg/icons/about/see-more-arrow-down.svg" alt="" width="16" height="16"/>  
                    </a>
                    <div class="dropdown hidden">
                        <a (click)="closeMenu()"  routerLink="/about" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Arquitectura</a>
                        <a (click)="closeMenu()" routerLink="/segments" href="" class="w-full flex items-center justify-between pl-0 p-2  text-[14px] text-[#A4A4A4]">Hidráulica</a>
                        <a (click)="closeMenu()" routerLink="/specialities" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Fundações & Estruturas</a>
                        <a (click)="closeMenu()" routerLink="/home" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Vias de Comunicação</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Electricidade</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Telecomunicações</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Estruturas Metálicas</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[14px] text-[#A4A4A4]">Infraestruturas de Transporte</a>
                    </div>
                </div>
               </li>
               <li>
                <div class="flex-1 flex-col justify-start items-center pb-8">
                    <a class="flex flex-row items-center gap-1" href="#">Serviços
                    <img class=""  src="assets/svg/icons/about/see-more-arrow-down.svg" alt="" width="16" height="16"/>  
                    </a>
                    <div class="dropdown hidden">
                        <a (click)="closeMenu()"  routerLink="/about" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Estudos Prévios</a>
                        <a (click)="closeMenu()" routerLink="/segments" href="" class="w-full flex items-center justify-between pl-0 p-2  text-[12px] text-[#A4A4A4]">Projectos de Licenciamento</a>
                        <a (click)="closeMenu()" routerLink="/specialities" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Projectos de Execução</a>
                        <a (click)="closeMenu()" routerLink="/home" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">As Build/Telas finais</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Fiscalização de Obras</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Levantamentos Topográficos</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Estudos de Mercado</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Estudo de Viabilidade Físico e Financeiro</a>
                        <a (click)="closeMenu()" routerLink="/projects" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12px] text-[#A4A4A4]">Laudos Técnicos</a>
                        <a (click)="closeMenu()" routerLink="/contact" href="" class="w-full flex items-center justify-between pl-0 p-2 text-[12x] text-[#A4A4A4]">Planos de Manutenção</a>
                    </div>
                </div>
               </li>
               <li>
                <div class="flex-1 flex-row items-center">
                    <a class="flex flex-row items-center" href="#">Projectos 
                    </a>
                </div>
               </li>
               <li>
                <div class="flex-1 flex-row items-center">
                    <a class="flex flex-row items-center" href="#">Comunicação
                    </a>
                </div>
               </li>
            </div>
            
            <div class="mobile-menu container w-full flex items-center justify-center desktop:hidden">
                <ul class="w-full h-full flex flex-col justify-start items-center">
                  <ng-container *ngFor="let option of firstLayerOptions">
                    <a (click)="toggleSubmenu(option)" class="w-full flex items-center justify-between p-4 border-b-2 border-[#F5F5F5] text-[16px] text-[#121212] font-bold">
                      {{ option.label }}
                      <img src="assets/svg/icons/about/see-more-arrow-down.svg" alt="">
                    </a>
                    <div class="l2 w-full h-full flex flex-col items-center bg-white z-[2]" 
                    [ngClass]="{'l2-visible': option.showSubmenu }" #l2 data-aos="fade-up">
                      <div (click)="goBack(option)" class="w-full p-4 gap-[20%] border-b-1 border-[#F5F5F5] flex flex-row justify-start">
                        <a class="text-[#121212] text-[14px] flex gap-2 items-center font-semibold">
                          <img src="assets/svg/icons/segments/container/back-arrow.svg" alt="" class="">Voltar
                        </a>
                        <span class="text-[18px] text-primary font-bold">{{ option.label }}</span>
                      </div>
                      <div class="w-full flex flex-col pl-4">
                        <a *ngFor="let subOption of option.secondLayerOptions" (click)="closeMenu()" routerLink="{{ subOption.link }}" href="" class="w-full flex items-center justify-between p-4 text-[16px] text-[#A4A4A4]">
                          {{ subOption.label }}
                        </a>
                      </div>
                    </div>
                  </ng-container>
                  <a (click)="closeMenu()" class="w-full flex items-center justify-between p-4 border-b-2 border-[#F5F5F5] text-[16px] text-[#121212] font-bold">Projectos<img src="assets/svg/icons/about/see-more-arrow-down.svg" alt=""></a>
                  <a (click)="closeMenu()" class="w-full flex items-center justify-between p-4 border-b-2 border-[#F5F5F5] text-[16px] text-[#121212] font-bold">Comunicação<img src="assets/svg/icons/about/see-more-arrow-down.svg" alt=""></a>
                </ul>
              </div>  
        </div>
        </div>
            
        </section>
    </div>            
           
</header>

<div class="section-content mt-[85px] desktop:mt-[130px] desktop-1440:mt-[150px] mb-[40px]">
    <router-outlet></router-outlet>
</div>

<footer class="footer-extended bg-[#121212] relative overflow-hidden w-full py-10 tablet:py-24">
    <div class="footer-content w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="top-content flex flex-col laptop:flex-row laptop:justify-between">
            <div class="content-area w-full desktop:w-[50%]">
                <div class="main-content ">
                    <div class="logo">
                        <img src="assets/svg/logo/logo-footer.svg" alt="">
                    </div>
                    <div class="content mt-5 mb-10 w-full desktop:w-[85%]">
                        <p class="text-[#A4A4A4] text-[14px] leading-[20px]">
                            A todos os níveis, procuramos a custo da nossa cadeia de valores, ética e Know-How com ferramentas voltadas para o cliente, assumir posição estratégica de mercado.
                        </p>
                    </div>
                    <div class="social-media flex justify-start items-center gap-3">
                        <div class="facebook">
                            <a href="" class="">
                                <img src="assets/svg/icons/footer/facebook.svg" alt="">
                            </a>
                        </div>
                        <div class="instagram">
                            <a href="">
                                <img src="assets/svg/icons/footer/instagram.svg" alt="">
                            </a>
                        </div>
                        <div class="linkedin">
                            <a href="">
                                <img src="assets/svg/icons/footer/linkedin.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-links-with-contacts w-full mt-10 laptop:mt-0 flex justify-around items-stretch">
                <div class="other-links w-full desktop:w-auto">
                    <div class="title mb-3">
                        <h1 class="text-white text-[16px] font-semibold">
                            EC-Planos
                        </h1>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <a routerLink="/about">
                                    Sobre nós
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    História
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    Cultura
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    Qualidade
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    Clientes e Parceiros
                                </a>
                            </li>
                            <li>
                                <a routerLink="#">
                                    Carreira
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="location-contact w-full desktop:w-auto">
                    <div class="top-con desktop:flex desktop:justify-between desktop:items-start">
                        <div class="location w-full">
                            <div class="title mb-3">
                                <h1 class="text-white text-[16px] font-semibold">
                                    Localização
                                </h1>
                            </div>
                            <p class="text-[#A4A4A4] mb-[16px] text-[14px] leading-[18px]">
                                Luanda - Angola
                            </p>
                            <p class="text-[#A4A4A4] text-[14px] leading-[18px] w-[70%]">
                                Entrada da Samba Arruamneto de Serviço
                            </p>
                        </div>
                        <div class="contact w-full">
                            <div class="title mt-4 desktop:mt-0 mb-3">
                                <h1 class="text-white text-[16px] font-semibold">
                                    Contactos
                                </h1>
                            </div>
                            <p class="text-[#A4A4A4] mb-[16px] text-[14px] leading-[18px]">
                                Email: geral@ecplanos.com
                            </p>
                            <p class="text-[#A4A4A4] mb-[12px] text-[14px] leading-[18px]">
                                Telefone: +244 922 006 976
                            </p>
                            <p class="text-[#A4A4A4] text-[14px] leading-[18px]">
                                +244 995 675 522
                            </p>
                        </div>
                    </div>
                    <div class="bottom-con">
                        <div class="seel"></div>
                        <div class="gototop"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pattern absolute right-0 bottom-0">
        <img src="assets/svg/patterns/footer/circles.svg" class="hidden tablet:block z-0" alt="">
        <img src="assets/svg/patterns/footer/circles-mobile.svg" class="tablet:hidden z-0" alt="">
    </div>
</footer>
<footer class="main-footer -pt-[2px] py-5 bg-[#121212]">
    <div class="contain--div w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="content--div flex flex-col gap-y-5 tablet:flex-row tablet:justify-between tablet:items-center">
            <p class="text-center tablet:text-left">
                <a href="" class="text-[#A4A4A4] underline">
                    Termos de usos & Políticas de privacidade
                </a>
            </p>
            <p class="text-white text-center tablet:text-left">
                &copy; 2023 EC-Planos. Todos os direitos reservados.
            </p>
        </div>
    </div>
</footer>