<div class="project--section">
    <div class="main-title m-5">
        <h1 class="text-center text-[24px] text-normal-text-color">
            Projectos
        </h1>
    </div>
    <div class="ultra-title desktop:w-[50%] mx-auto">
        <h1 class="text-normal-text-color text-center text-[34px] font-semibold leading-[40px]">
            Criamos soluções para acesso, conforto e sustentabilidade.
        </h1>
    </div>

    <div class="component mt-20">
        <div class="component-slider overflow-x-auto">
            <div class="slider-boxes bg-red-30 w-fit gap-x-2 desktop:gap-x-16 flex justify-between items-center">
    
                <div class="box-card relative w-[324px] tablet:w-[364px] desktop:w-[994px] desktop-1440:w-[1094px] desktop-1536:w-[1194px] h-[525px] tablet:h-[600px] desktop:h-[596px] overflow-hidden  rounded-[4px]">
                    <div class="cover-img relative w-full h-full">
                        <div class="skeleton-img-bg"></div>
                        <img ngSrc="assets/images/home/projects/project-image-1.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                    </div>
                    <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                    <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                        <div class="top-content p-6">
                            <!-- <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                <p class="text-[12px] font-semibold text-white">
                                    
                                </p>
                            </div> -->
                        </div>
                        <div class="bottom-content">
                            <div class="bottom-card-title p-3 tablet:p-6">
                                <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                    Estudo Técnico – Plano de Manutenção/Proejecto de Reforma
                                </h1>
                            </div>
                            <div class="bottom-card-description p-3 tablet:p-6 desktop:pb-10 border-t-[1px] border-[#c8c8c866] desktop:leading-[18px]">
                                <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%] desktop:w-[30%]">
                                    D.O – Escola Camilo Castelo Branco, Edifício de Ensino com 3700m<sup>2</sup>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-card relative w-[324px] tablet:w-[364px] desktop:w-[994px] desktop-1440:w-[1094px] desktop-1536:w-[1194px] h-[525px] tablet:h-[600px] desktop:h-[596px] overflow-hidden  rounded-[4px]">
                    <div class="cover-img relative w-full h-full">
                        <div class="skeleton-img-bg"></div>
                        <img ngSrc="assets/images/home/projects/project-image-2.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                    </div>
                    <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                    <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                        <div class="top-content p-6">
                            <!-- <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                <p class="text-[12px] font-semibold text-white">
                                    
                                </p>
                            </div> -->
                        </div>
                        <div class="bottom-content">
                            <div class="bottom-card-title p-3 tablet:p-6">
                                <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                    Projecto de Licenciamento
                                </h1>
                            </div>
                            <div class="bottom-card-description p-3 tablet:p-6 desktop:pb-10 border-t-[1px] border-[#c8c8c866] desktop:leading-[18px]">
                                <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%] desktop:w-[60%]">
                                    D.O – Filca.SA | Fábrica de Tambores e Artefactos Metálicos
                                </p>
                                <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%] desktop:w-[60%]">
                                    Área total do lote 15.000 m2, area Total construida 2.110 m2
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-card relative w-[324px] tablet:w-[364px] desktop:w-[994px] desktop-1440:w-[1094px] desktop-1536:w-[1194px] h-[525px] tablet:h-[600px] desktop:h-[596px] overflow-hidden  rounded-[4px]">
                    <div class="cover-img relative w-full h-full">
                        <div class="skeleton-img-bg"></div>
                        <img ngSrc="assets/images/home/projects/project-image-3.png" width="370" height="610" class="w-full h-full object-cover" alt="">
                    </div>
                    <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                    <div class="box-content z-[3] absolute top-0 left-0 w-full h-full flex flex-col justify-between">
                        <div class="top-content p-6">
                            <!-- <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                <p class="text-[12px] font-semibold text-white">
                                    
                                </p>
                            </div> -->
                        </div>
                        <div class="bottom-content">
                            <div class="bottom-card-title p-3 tablet:p-6">
                                <h1 class="text-[24px] text-white leading-[30px] font-semibold">
                                    Gestão e Cordenação e Fiscalização da Obra
                                </h1>
                            </div>
                            <div class="bottom-card-description p-3 tablet:p-6 desktop:pb-10 border-t-[1px] border-[#c8c8c866] desktop:leading-[18px]">
                                <p class="text-[14px] font-regular leading-[18px] text-white text-opacity-[90%] desktop:w-[30%]">
                                    D.O – Particular | Moradia T5 + 1 , 2 pisos, com área total de construção de 600m2.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>    
    </div>

    <div class="slider-controls mt-10 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto flex justify-between items-center">
        <div class="counter-progress flex gap-x-8 items-center">
            <div class="counter-desc">
                <span class="super-number text-[24px] text-normal-text-color font-semibold">
                    16
                </span>
                <span class="tiny-number text-[16px] text-[#A1A1A1] font-semibold">
                    /01
                </span>
            </div>
            <div class="progress hidden laptop:block">
                <div class="progress-path relative w-[230px] bg-[#F1F1F1] h-[4px]">
                    <div class="progress-active-path absolute left-0 top-0 w-[20%] h-full bg-primary"></div>
                </div>
            </div>
        </div>
        <div class="slide-controls hidden laptop:block">
            <div class="desktop-slider-arrows hidden desktop:flex justify-end gap-[25px] desktop:mt-5 desktop-1440:mt-7">
                <div class="button flex items-center justify-center up">
                    <a href="javascript:void(0)" class="inactive p-[10px] tablet:p-[10px]">
                        <img src="assets/svg/icons/projects/prev.svg" alt="">
                    </a>
                </div>
                <div class="button hidden desktop:flex items-center justify-center down">
                    <a href="javascript:void(0)" class="active p-[10px] tablet:p-[10px]">
                        <img src="assets/svg/icons/projects/next.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>