<div class="know-more--section flex flex-col desktop:flex-row desktop:items-start desktop:justify-end gap-y-16 desktop:gap-x-24">
    <div class="main-content-description desktop:w-[50%] desktop:h-full">
        <div class="tiny-title flex gap-3 justify-start items-center">
            <span class="w-[34px] h-[34px] border-[1px] border-[#121212] text-[16px] font-semibold rounded-[50%] flex items-center justify-center">
                2
            </span>
            <h3 class="text-[#121212] text-[16px]">
                Cultura
            </h3>
        </div>
        <div class="main-title my-5">
            <h1 class="text-[33px] text-[#000] font-semibold leading-[42px] tablet:w-[70%] desktop:w-[80%] desktop-1440:w-[85%] desktop-1536:w-[80%]">
                É uma empresa global e 
                sem fronteiras na busca de soluções.
            </h1>
        </div>
        <div class="section-description desktop:w-full desktop-1440:w-[80%]">
            <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10 w-[90%]">
                A EC-PLANOS conta com um quadro técnico e administrativo com 
                longos anos de experiência e de alta função nas várias especialidades 
                de projetos.
            </p>
            <p class="text-[#808080] text-[16px] mb-10 w-[90%]">
                É uma empresa que trabalha com a sociedade e para 
                a sociedade com programas de admissão de quadros envolvendo 
                concurso público e estreita relação com centros científicos, 
                escolas, institutos superiores, universidades e centros 
                profissionais.
            </p>
            <p class="text-[#808080] text-[16px] mb-10 w-[90%]">
               A EC-PLANOS conta internamente com programas de avaliação 
               contínua que incidem sobre seus colaboradores e com o incremento 
               da formação para melhor desempenho destes, assim, alcançando resultados 
               esperados pelos nossos clientes e parceiros.
            </p>
            <div class="flex justify-start gap-2">
                <span class=" bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    <p class="text-[16px]">
                        Diversidade
                    </p>
                    
                    <img src="assets/svg/icons/culture/check.svg" alt="">
                </span>
                <span class=" bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    Inclusão
                    <img src="assets/svg/icons/culture/check.svg" alt="">
                </span>
                <span class=" bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    Caridade
                    <img src="assets/svg/icons/culture/check.svg" alt="">
                </span>
            </div>
        </div>
    </div>
    <div class="main-image-section w-full desktop:w-[506px] h-[420px] desktop:h-[706px]">
        <div class="img-container w-full h-full rounded-[4px] overflow-hidden">
            <img ngSrc="assets/images/about/culture/culture.png" width="784" height="706" class="w-full h-full object-cover" alt="">
        </div>
    </div>
</div>