.posts-hero-section select{
    padding:12px;     
    border-radius: 4px;
    background: rgba(235, 235, 235, 0.40);
    border: 1px solid rgba(200, 200, 200, 0.40);
}

.posts-hero-section h4 {
    font-family: 'Fist';
}