<div class="about-module-container">
    <div class="w-full border-b-2 border-[#EEEEEE] pb-32 mb-10">
        <div class="posts-hero-section flex justify-center gap-y-24 desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
            <posts-hero></posts-hero>
        </div>
    </div>
    <div class="posts-hero-section desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="w-full flex items-center justify-between">
            <h4 class="text-[#121212] text-[24px] font-semibold">Todas as brochuras</h4>
            <select formControlName="industry" class="text-[#A4A4A4] desktop:placeholder:text-[14px] text-[12px] desktop:text-[14px]" id="">
                <option value="" disabled selected>Selecione uma categoria</option>
            </select>
        </div>   
    </div>

    <div class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="specialities-section-component w-full">
            <posts-container></posts-container>
        </div>
    </div>
</div>