<div class="mt-[-20px] desktop:mt-[-55px] w-full flex items-center justify-center desktop:min-h-screen">      
    <div class="desktop:min-h-screen relative  desktop:mt-[-60px] h-[420px] desktop:h-[618px] overflow-hidden rounded-[4px] tablet:rounded-none">
        
        <img src="assets/images/about/hero/hero.png" alt="" class="w-full h-full desktop:object-fill object-cover object-center" width="1512" height="618">
    </div>
  <div class="section--image-title pl-0 p-4 absolute top-[10%] tablet-768:top-[16%] tablet:top-[25%] desktop:top-[25%] left-0 desktop:left-0 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px]">
    <h1 class="text[#121212] text-[32px] w-full font-bold mb-4 text-left tablet:text-[30px] desktop:text-[48px] leading-[34px] tablet:leading-[40px] desktop:leading-[62px] tablet:w-[65%] desktop:w-[55%]">Soluções eficazes que suprem as demandas dos nossos clientes</h1>
    <p class="text-[#121212] text-[16px] w-full tablet-768:w-[30%] tablet-[32%] desktop-[34%] text-left mb-10">A todos os níveis, procuramos a custo da nossa cadeia de valores, ética e Know-How com ferramentas voltadas para o cliente, assumir posição estratégica de mercado.</p>
    <a routerLink="/segments" href="javacript:void(0)" class="w-full tablet-768:w-[28%] tablet-[32%] desktop-[32%] bg-primary py-4 px-2 rounded mt-4 text-[14px] text-white flex gap-3 justify-center items-center">
      Entrar em contato com a empresa
      <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
    </a>
</div>
</div>

