<div class="flex flex-col-reverse desktop:flex-row-reverse desktop:items-end desktop:justify-end w-full desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
    <div class="main-content-description desktop:w-[46%] desktop-1440:w-[50%]">
        <div class="section-description desktop:w-full desktop:mb-10">
            <p class="text-[#808080] text-[16px] mb-5 desktop:mb-8 desktop-1440:w-[97%]">
                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, 
                Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas 
                para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
            </p>
            <p class="text-[#808080] text-[16px] desktop-1440:w-[97%]">
                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, 
                Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas 
                para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
            </p>
        </div>
    </div>

    <div class="desktop:w-[90%] desktop:mb-0 mb-3">
        <img src="assets/images/projects/sections/1.png" alt="" width="712" height="216" class="desktop:w-[97%] mb-2 rounded-sm desktop:rounded-none">
    </div>
</div>

<div class="desktop:mt-40 flex flex-col-reverse desktop:flex-row desktop:items-end desktop:justify-end w-full desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
    <div class="main-content-description desktop:w-[46%] desktop-1440:w-[50%]">
        <div class="section-description desktop:w-full desktop:mb-10">
            <p class="text-[#808080] text-[16px] mb-5 desktop:mb-8 desktop:w-[95%]">
                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, 
                Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas 
                para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
            </p>
            <p class="text-[#808080] text-[16px] desktop:w-[95%]">
                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, 
                Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas 
                para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
            </p>
        </div>
    </div>

    <div class="desktop:w-[87%] flex justify-end items-end">
        <img src="assets/images/projects/sections/2.png" alt="" width="712" height="216" class="desktop:w-full my-4 rounded-sm desktop:rounded-none">
    </div>
</div>