<div class="about-module-container ">
    <div class="about-module-banner-content">
       <specialities-hero></specialities-hero>
    </div>
    <div class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <specialities-breadcrumb></specialities-breadcrumb>
    </div>
    <div class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="specialities-section-component w-full">
            <specialities-container></specialities-container>
        </div>
    </div>
</div>
