<div class="about-module-container ">
    <div class="about-module-banner-content">
       <specialities-hero></specialities-hero>
    </div>
    <div data-aos="fade-up" class="hidden desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <specialities-breadcrumb></specialities-breadcrumb>
    </div>
    <div data-aos="fade-up" class="desktop:flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="specialities-section-component w-full">
            <specialities-container></specialities-container>
        </div>
    </div>
    <div data-aos="fade-up" class="flex w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <div class="w-full flex justify-start gap-1 mt-10"> 
            <a routerLink="/home" href="javacript:void(0)" class="text-sm text-[#121212] font-semibold flex gap-2  desktop:gap-3 justify-center items-center">
                <img src="assets/svg/icons/segments/container/back-arrow.svg" alt="">
                Voltar
            </a>
        </div>
    </div>
</div>
