<div class="flex flex-col desktop:flex-row desktop:items-start desktop:justify-end gap-y-1 desktop:gap-x-24">
    <div class="main-content-description desktop:w-[46%] desktop-1440:w-[50%]">
        <div class="main-title hidden desktop:flex">
            <h1 class="text-[33px] text-[#000] desktop:mb-7 font-semibold leading-[42px] tablet:w-[70%] desktop:w-[70%] desktop-1440:w-[85%] desktop-1536:w-[80%]">
                Electricidade
            </h1>
        </div>
        <div class="section-description desktop:w-full desktop:mb-10 my-10">
            <p class="text-[#808080] text-[16px] mb-5 desktop:mb-8 w-full">
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, 
                sit sit. Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.<br/>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce 
                augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est 
                ac volutpat. 
            </p>
            <p class="text-[#808080] text-[16px] desktop:mb-10 w-full">
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. 
                Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. 
                Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat. 
            </p>
        </div>
    </div>
    <div class="main-image-section w-full desktop:w-[506px] h-[420px]">
        <div class="relative img-container w-full rounded-[4px] overflow-hidden">
            <div class="skeleton-img-bg"></div>
            <img ngSrc="assets/images/segment-details/intro/intro.png" width="784" height="706" class="w-full h-full" alt="">
        </div>
    </div>
</div>