<div class="banner--section flex flex-col desktop:flex-row-reverse desktop:justify-between desktop:items-stretch desktop-1440:items-end desktop:gap-x-[112px]">

    <div class="slider--image-contents desktop:w-full">
        <div class="top-content relative">
            <div class="button absolute  flex items-center justify-center left-[8px] top-0 h-full z-[2] prev desktop:hidden">
                <a href="javascript:void(0)" class="inactive p-[10px] tablet:p-[10px]">
                    <img src="assets/svg/icons/banner/prev.svg" alt="">
                </a>
            </div>
            <div class="button absolute flex items-center justify-center right-[8px] top-0 h-full z-[2] next desktop:hidden">
                <a href="javascript:void(0)" class="active p-[10px] tablet:p-[10px]">
                    <img src="assets/svg/icons/banner/next.svg" alt="">
                </a>
            </div>
        
            <div class="slide--images relative h-[400px] tablet:h-[300px] tablet-768:h-[350px] desktop:h-[520px] z-[1] overflow-hidden desktop:overflow-visible">
                <div class="banner--slide first w-full h-full tablet:h-full desktop:h-[500px] absolute">
                    <div class="banner--item relative pt-0 rounded">
                        <div class="banner--image-description absolute right-[20%] tablet:right-[25%] laptop:right-[25%] top-0">
                            <p class="text-[4vw] tablet:text-[3vw] laptop:text-[3vw] tablet:hidden italic font-light text-[#A4A4A4]">#engenharia</p>
                        </div>
                        <div class="banner--image-img w-full">
                            <img src="assets/images/home/banner/banner-image-mobile-1.png" class="w-full h-full object-cover tablet:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-tablet-1.png" class="w-full h-full object-cover hidden tablet:block desktop:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-1.png" class="w-full h-full object-contain hidden desktop:block" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner--slide second w-full h-full desktop:w-[520px] desktop:h-[480px] absolute">
                    <div class="banner--item relative pt-0 rounded">
                        <div class="banner--image-description absolute right-[20%] tablet:right-[25%] laptop:right-[25%] top-0">
                            <p class="text-[4vw] tablet:text-[3vw] laptop:text-[3vw] tablet:hidden italic font-light text-[#A4A4A4]">#arquitectura</p>
                        </div>
                        <div class="banner--image-img w-full">
                            <img src="assets/images/home/banner/banner-image-mobile-2.png" class="w-full h-full object-cover tablet:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-tablet-2.png" class="w-full h-full object-cover hidden tablet:block desktop:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-2.png" class="w-full h-full object-cover hidden tablet:block" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner--slide last w-full h-full desktop:w-[430px] absolute">
                    <div class="banner--item relative pt-0 rounded">
                        <div class="banner--image-description absolute right-[20%] tablet:right-[25%] laptop:right-[25%] top-0">
                            <p class="text-[4vw] tablet:text-[3vw] laptop:text-[3vw] tablet:hidden italic font-light text-[#A4A4A4]">#fiscalização</p>
                        </div>
                        <div class="banner--image-img w-full">
                            <img src="assets/images/home/banner/banner-image-mobile-3.png" class="w-full h-full object-cover tablet:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-tablet-3.png" class="w-full h-full object-cover hidden tablet:block desktop:hidden" alt="">
                            <img src="assets/images/home/banner/banner-image-3.png" class="w-full h-full object-cover hidden tablet:block" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="bottom-content-slider-dots desktop:hidden mt-5 flex gap-2 justify-center items-center">
            <div class="dot active w-[8px] h-[8px]"></div>
            <div class="dot w-[8px] h-[8px]"></div>
            <div class="dot w-[8px] h-[8px]"></div>
        </div>
    </div>
    <div class="slider--text-contents tablet:w-[90%] desktop:w-[80%]">

        <div class="content-top mt-7 desktop:mt-0 flex flex-col justify-start">
            <div class="slider-main-title desktop-1536:mt-0">
                <div class="hashtags-categories-list text-[#A4A4A4] desktop-1536:mt-0 hidden desktop:flex gap-[7px] justify-start items-center">
                    <span class="text-[12px]"> #engenharia </span>
                    <span class="text-[7px]"> &#9679; </span>
                    <span class="text-[12px]"> #arquitectura </span>
                    <span class="text-[7px]"> &#9679; </span>
                    <span class="text-[12px]"> #fiscalização </span>
                    <span class="text-[7px]"> &#9679; </span>
                    <span class="text-[12px]"> #estudostecnicos </span>
                </div>

                <h1 class="text-[#121212] desktop:mt-4 desktop:mb-0 desktop-1440:mt-4 desktop-1440:mb-0 desktop-1536:mt-5 desktop-1536:mb-6 text-[32px] desktop:text-[39px] desktop-1440:text-[44px] desktop-1536:text-[48px] font-semibold desktop:font-bold desktop-1440:font-semibold leading-[42px] desktop:leading-[50px] desktop-1440:leading-[58px] desktop-1536:leading-[62px]">
                    Desenhamos negócios a escala global com soluções sofisticadas para pequenos e grandes empresas.
                </h1>
            </div>
        </div>
        <div class="content-bottom">
            <div class="slider-main-button relative mt-10 tablet:w-[55%] laptop:w-[40%] desktop:w-[70%]">
                <a routerLink="#" class="bg-primary p-[16px] text-white rounded-[4px] font-regular gap-[12px] flex justify-center items-center">
                    <div class="button-text text-[14px]">
                        Conhecer mais sobre a EC-Planos
                    </div>
                    <div class="button-icon">
                        <img src="assets/svg/icons/banner/main-button-arrow.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="desktop-slider-arrows hidden desktop:flex justify-end gap-[25px] desktop:mt-5 desktop-1440:mt-7">
    <div class="buttonflex items-center justify-center up">
        <a href="javascript:void(0)" class="inactive p-[10px] tablet:p-[10px]">
            <img src="assets/svg/icons/banner/up-dark.svg" alt="">
            <!-- <img src="assets/svg/icons/banner/up.svg" alt=""> -->
        </a>
    </div>
    <div class="button hidden desktop:flex items-center justify-center down">
        <a href="javascript:void(0)" class="active p-[10px] tablet:p-[10px]">
            <img src="assets/svg/icons/banner/down.svg" alt="">
        </a>
    </div>
</div>