<div class="py-10 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
    <div class="help-building--section flex flex-col laptop:flex-row laptop:items-start laptop:justify-end gap-y-10 laptop:gap-y-16 ">
        <div class="main-content-description laptop:sticky laptop:top-[120px] w-full laptop:h-full">
            <div class="tiny-title flex gap-3 justify-start items-center">
                <span class="text-[16px] font-semibold text-[#121212]">
                    Trabalhamos com empresas globais!
                </span>
            </div>
            <div class="main-title my-5">
                <h1 class=" text-[33px] text-[#121212] font-semibold mb-5 leading-[42px] tablet:w-[70%] desktop:w-[80%] desktop-1440:w-[85%] desktop-1536:w-[80%]">
                    Ajudamos a construir o passado e preparar o seu futuro.
                </h1>
            </div>
            <div class="section-description mt-8 hidden desktop:block desktop:w-full desktop-1440:w-[80%]">
                <a href="javacript:void(0)" class="w-full tablet:w-[32%] desktop:w-[70%] tablet-768:w-[50%] bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
                    Entrar em contacto
                    <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
        <div class="text-blocks-section flex flex-wrap justify-between w-full">
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[45%]" data-aos="fade-up">
                <img ngSrc="assets/svg/icons/help-building/engineering.svg" width="34" height="34" class="mb-5" alt="">
                <h4 class="text-[24px] text-[#121212] font-bold mb-4 pt-0">
                    Engenharia
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                </p>
            </div>   
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[45%]" data-aos="fade-up">
                <img ngSrc="assets/svg/icons/help-building/arquitecture.svg" width="34" height="34" class="mb-5" alt="">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Arquitectura
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[45%]" data-aos="fade-up">
                <img ngSrc="assets/svg/icons/help-building/topography.svg" width="34" height="34" class="mb-5" alt="">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Topografia
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                </p>
            </div>
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[45%]" data-aos="fade-up">
                <img ngSrc="assets/svg/icons/help-building/technical-studies.svg" width="34" height="34" class="mb-5" alt="">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Estudos técnicos
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                </p>
            </div> 
            <div class="minimal-title mb-5 desktop:mb-5 desktop:w-[45%]" data-aos="fade-up">
                <img ngSrc="assets/svg/icons/help-building/fiscalization.svg" width="34" height="34" class="mb-5" alt="">
                <h4 class="text-[24px] text-[#121212] font-bold mb-3">
                    Fiscalização
                </h4>
                <p class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                    Para nós existe uma linha visível na nossa relação com os clientes, fornecedores, colaboradores, parceiros e sociedade em geral.
                </p>
            </div>
        </div>
    </div>
    <div class="section-description mt-3 laptop:hidden" data-aos="fade-up">
        <a routerLink="/contact" href="javacript:void(0)" class="w-full tablet:w-[32%] desktop:w-[70%] tablet-768:w-[50%] bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
            Entrar em contacto
            <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
        </a>
    </div>
</div>