<div class="slogan-inovation--section relative">
    <div class="background-image overflow-hidden rounded-[4px] tablet:rounded-none h-[420px] desktop:h-[618px]">
        <div class="overlay w-full h-full absolute left-0 top-0 opacity-[100%]"></div>
        <img ngSrc="assets/images/home/slogan-inovation/slogan-inovation-image-second.png" width="1512" height="618" class="w-full h-full object-cover" alt="">
    </div>
    <div class="section--image-title absolute bg-red-30 left-0 desktop:left-0 w-[93%] desktop:w-[80%] max-w-[1230px]">
        <h1 class="tablet:text-[30px] desktop:text-[48px] text-white font-bold desktop:font-normal leading-[34px] tablet:leading-[40px] desktop:leading-[62px] tablet:w-[65%] desktop:w-[60%]">
            Estamos diante das inovações e nos conectamos as soluções presentes
        </h1>
    </div>
</div>