<div class="home-module-container">
    <div class="home-module-section-content w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-banner></app-banner>
    </div>
    <div data-aos="fade-up" class="breafing-module-section-content mt-20 mb-20 w-[93%] tablet:w-full max-w-[1536px] mx-auto">
        <app-breafing></app-breafing>
    </div>
    <div data-aos="fade-up" class="about-module-section-content hidden laptop:block mt-32 mb-20 py-10 border-y-[2px] border-[#EEEEEE] border-opacity-[60%]">
        <div class="section-delimited w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
            <app-about></app-about>
        </div>
    </div>
    <div data-aos="fade-up" class="slogan-module-section-content mt-32 mb-32 w-[93%] tablet:w-full max-w-[1536px] mx-auto">
        <app-slogan></app-slogan>
    </div>
    <div data-aos="fade-up" class="know-more-module-section-content mt-32 mb-32 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-know-more></app-know-more>
    </div>
    <div data-aos="fade-up" class="slogan-inovation-module-section-content mt-20 mb-20 hidden tablet:block tablet:w-full max-w-[1536px] mx-auto">
        <app-slogan-inovation></app-slogan-inovation>
    </div>
    <div data-aos="fade-up" class="services-module-section-content mt-32 mb-32 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-services></app-services>
    </div>
    <div data-aos="fade-up" class="segments-specialities-module-section-content mt-32 mb-32 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-segments-specialities></app-segments-specialities>
    </div>
    <div data-aos="fade-up" class="know-more-segments-module-section-content mt-32 mb-32 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-know-more-segments></app-know-more-segments>
    </div>
    <div data-aos="fade-up" class="projects-module-section-content mt-32 mb-32 w-[93%] desktop:w-full max-w-[1536px] mx-auto">
        <app-projects></app-projects>
    </div>
    <div data-aos="fade-up" class="clients-module-section-content mt-32 mb-32 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <about-partners></about-partners>
    </div>
    <div data-aos="fade-up" class="help-building-module-section-content mt-32 mb-32">
        <app-help-building></app-help-building>
    </div>
    <div data-aos="fade-up" class="contact-us-module-section-content mt-32 mb-40 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-contact-us></app-contact-us>
    </div>
    <div data-aos="fade-up" class="ec-planos-background-module-section-content hidden tablet-768:block mt-20 mb-20 w-[93%] tablet:w-full max-w-[1536px] mx-auto">
        <app-ec-planos-background></app-ec-planos-background>
    </div>
    <div data-aos="fade-up" class="posts-module-section-content mt-32 mb-40 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px] mx-auto">
        <app-posts></app-posts>
    </div>
</div>