<div class="w-full component">
    <div class="w-full my-8 items-center justify-center" *ngIf="selectedTag === 'brochura'">
        <div class="w-full gap-y-8 mb-20 flex flex-wrap justify-between">

        <div *ngFor="let brochure of (filteredBrochures ? filteredBrochures : brochures)" class=" w-full desktop:w-auto mb-10">
            <brochure-card 
            [imageSrc]="brochure.imagem_brochura"
            [date]="brochure.data_brochura"
            [title]="brochure.titulo_brochura"                
            >
            </brochure-card>
        </div>       
    </div>
    <div *ngIf="show404" class="w-full flex items-center justify-center">
        <h1 class="text-[#808080] font-normal text-[24px]">Brochura não encontrada...</h1>

        </div> 
        <div class="w-full flex justify-center gap-1 mt-40"> 
            <a routerLink="/home" href="javascript:void(0)" class="text-sm text-[#808080] text-[14px] font-semibold flex gap-2 desktop:gap-3 justify-center items-center">
                <div class="spinner-container">
                    <div class="ispinner">
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                        <div class="ispinner-blade"></div>
                      </div>
                </div>
                Carregando notícias
            </a>            
        </div>
    </div>
</div>