<div class="know-more--section flex flex-col desktop:flex-row-reverse desktop:items-start desktop:justify-end gap-y-16 desktop:gap-x-24">
    <div class="main-content-description desktop:w-[40%] desktop:h-full">
        <div class="tiny-title flex gap-3 justify-start items-center">
            <span class="w-[34px] h-[34px] border-[1px] border-[#121212] text-[16px] font-semibold rounded-[50%] flex items-center justify-center">
                1
            </span>
            <h3 class="text-[#121212] text-[16px]">
                História
            </h3>
        </div>
        <div class="main-title my-5">
            <h1 class="text-[33px] text-[#000] font-semibold leading-[42px] tablet:w-[70%] desktop:w-[70%] desktop-1440:w-[85%] desktop-1536:w-[80%]">
                Fundada em Luanda em dezembro de 2019
            </h1>
        </div>
        <div class="section-description desktop:w-full desktop-1440:w-[80%]">
            <p class="text-[#808080] text-[16px] mb-4 desktop:mb-7 w-[90%]">
                Partindo do pressuposto de um país grande e belo, a EC-Planos, 
                Consultores De Projectos, Lda. nasce da ideia de uma Angola de sonhos, 
                sumptuosa, com perspectivas e bases desenvolvidas para um mercado cada 
                dia mais atrativo, competitivo e com novas oportunidades.
            </p>
            <p class="text-[#808080] text-[16px] mb-4 desktop:mb-7 w-[90%] max-desktop-1440:mb-0">
               Com a dinamização crescente da economia angolana e diversificação, 
               abre-se um amplo ambiente de negócios, criteriosamente motivado pela 
               natureza criativa de vários empreendedores, assumindo características 
               próprias, carecidas de acessória técnica privilegiada e de baixo custo.
            </p>
            <p class="text-[#808080] text-[16px] desktop:mb-5 mb-3 w-[90%]">
               Esta é a nossa motivação...
            </p>
            <p class="text-[#808080] text-[16px] w-[90%]">
               Garantir ao mercado processos inovadores que permitam aos nossos Clientes 
               obter soluções, sempre e a todos os níveis funcionais e sustentáveis.
            </p>
        </div>
    </div>
    <div class="main-image-section w-full desktop:w-[506px] h-[420px] desktop:h-[706px]">
        <div class="img-container w-full h-full rounded-[4px] overflow-hidden">
            <div class="skeleton-img-bg"></div>
            <img ngSrc="assets/images/about/history/history.png" width="784" height="706" class="w-full h-full object-cover" alt="">
        </div>
    </div>
</div>