<div class="breafing--section relative">
    <div class="background-image relative overflow-hidden rounded-[4px] tablet:rounded-none h-[420px] desktop:h-[618px]">
        <div class="skeleton-img-bg"></div>
        <img ngSrc="assets/images/home/breafing/breafing-image-second.png" width="1512" height="618" class="w-full h-full object-cover" alt="">
    </div>
    <div class="section--image-title absolute top-[10%] tablet:top-[25%] desktop:top-[25%] left-0 desktop:left-0 w-[93%] desktop:w-[90%] desktop-1440:w-[80%] max-w-[1230px]">
        <h1 class="text-[23px] tablet:text-[30px] desktop:text-[48px] text-white font-bold desktop:font-normal leading-[34px] tablet:leading-[40px] desktop:leading-[62px] tablet:w-[65%] desktop:w-[60%] desktop-1440:w-[55%]">
            Conectamos as nossas experiências e habilidades para dar melhores soluções aos nossos clientes
        </h1>
    </div>
</div>