<div class="know-more-segments--section flex flex-col desktop:flex-row-reverse desktop:items-start desktop:justify-end gap-y-16 desktop:gap-x-24">
    <div class="main-content-description desktop:w-[40%] desktop:h-full bg-red-30">
        <div data-aos="fade-up" class="tiny-title flex gap-3 justify-start items-center">
            <span class="w-[34px] h-[34px] border-[1px] border-[#121212] text-[16px] font-semibold rounded-[50%] flex items-center justify-center">
                2
            </span>
            <h3 class="text-[#121212] text-[16px]">
                Trabalhamos com todos os princípios
            </h3>
        </div>
        <div data-aos="fade-up" class="main-title my-5 desktop:mt-5 desktop:mb-9">
            <h1 class="text-[33px] text-[#000] font-semibold leading-[42px] tablet:w-[70%] desktop:w-full desktop-1440:w-[85%] desktop-1536:w-[80%]">
                Comprometidos em entregar projetos de construção de alta qualidade com  inovações
            </h1>
        </div>
        <div class="section-description desktop:w-full desktop-1440:w-[80%]">
            <p data-aos="fade-up" class="text-[#808080] text-[16px] mb-5 desktop:mb-10">
                Primamos pela honestidade trazendo para os nossos clientes produtos resultantes de legislação corrente e técnicas de dimensionamento expeditas na área de consultoria projectos.
            </p>
            <div class="flex justify-start gap-2 flex-wrap">
                <span data-aos="fade-up" class=" bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    <p class="text-[16px]">
                        Engenharia
                    </p>
                    <img ngSrc="assets/svg/icons/know-more-segments/check.svg" priority="high" width="24" height="24" alt="">
                </span>
                <span data-aos="fade-up" class="bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    <p class="text-[16px]">
                        Arquitectura
                    </p>
                    <img ngSrc="assets/svg/icons/know-more-segments/check.svg" priority="high" width="24" height="24" alt="">
                </span>
                <span data-aos="fade-up" class="bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    <p class="text-[16px]">
                        Estudos Técnicos
                    </p>
                    <img ngSrc="assets/svg/icons/know-more-segments/check.svg" priority="high" width="24" height="24" alt="">
                </span>
                <span data-aos="fade-up" class="bg-primary/[.05] py-2.5 px-4 rounded-full mt-4 text-primary flex gap-2 justify-center items-center">
                    <p class="text-[16px]">
                        Fiscalização
                    </p>
                    <img ngSrc="assets/svg/icons/know-more-segments/check.svg" priority="high" width="24" height="24" alt="">
                </span>
            </div>
        </div>
        <div data-aos="fade-up" class="button know-more-segments mt-16 desktop:mt-20 tablet:w-[55%] laptop:w-[40%] desktop:w-[80%] desktop-1440:mt-12 desktop-1536:mt-20">
            <a routerLink="/segments" class="w-full text-white flex gap-3 justify-center items-center bg-primary p-[16px] rounded-[4px]">
                Ver todos os Seguimentos
                <img src="assets/svg/icons/know-more-segments/right-arrow.svg" alt="">
            </a>
        </div>
    </div>
    <div data-aos="fade-up" class="main-image-section w-full desktop:w-[506px] h-[420px] desktop:h-[660px] desktop-1440:h-[706px]">
        <div class="img-container relative w-full h-full rounded-[4px] overflow-hidden">
            <div class="skeleton-img-bg"></div>
            <img ngSrc="assets/images/home/know-more-segments/know-more-segments-image.png" width="784" height="706" class="w-full h-full object-cover" alt="">
        </div>
    </div>
</div>